<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UICircleView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>UIViewDemo1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE1587581E88F6BB0072FFB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE1587711E88F6BB0072FFB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE15877C1E88F6BB0072FFB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE1587931E88F6EA0072FFB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE15879B1E88F6EA0072FFB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
